@font-face {
  font-family: 'Handwriting';
  src: url('../font/Handwriting-Regular.woff2') format('woff2'),
      url('../font/Handwriting-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
#main {
  transition: margin-left .5s;
  margin-right: -40px;
  padding: 0px;
}
div {
  font-family: 'Handwriting';
}
h3 {
  font-family: 'Handwriting';
  color: #806559;
  display: block;
}
.subHead {
  font-family: 'Handwriting';
  color: #806559;
  margin-left: 45%;
}
.image1 {
  border: 5px solid #e3c7bb;
}
/* TopNav bar settings */
.navbar1 {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;;
  overflow: hidden;
  background-color: #fffef0;
  border-bottom: 1px solid #e3c7bb;
  transition: top 0.4s;
  z-index: 101;
}
/* Navigation links */
.navbar1 a {
  float: left;
  z-index: 1;
  font-size: 16px;
  color: #6e5448;
  text-align: center;
  text-decoration: none;
  
}
.navbar-center a {
  z-index: 1;
  float: none;
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 /* The sidepanel menu */
 .sidepanel {
  /*margin-top: 67px;*/
  height: 100%; /* Specify a height */
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fae6b2;
  outline:  0px solid #e3c7bb;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.6s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanelRight {
  /*margin-top: 67px;*/
  height: 100%; /* Specify a height */
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  margin-right: 0%;
  top: 0;
  right: 0;
  background-color: #fae6b2;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.6s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* The sidepanel links */
.sidepanel a {
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  text-transform: capitalize;
  color: #6e5448;
  display: block;
  transition: 0.3s;
}
.rightContent {
  margin-left: 25px;
}

.sidepanel .insta {
  margin-top: 300px;
  margin-left: 27%;
  padding: 5px;
  font-size: 19px;
  display: inline-block;
}
.sidepanel .etsy{
  font-size: 19px;
  display: inline-block;
}
.insta1 {
  background-image: url(images/insta.png);
}

.insta1:hover {
  background-image: url(images/insta_hover.png);
}

.sidepanel a::before {
  content:'';
  display:block;
  top: 70%;
  height: 1px;
  width:0%;
  background-color: #bf9582;
  transition: 0.3s;;
  position: absolute;
}
.sidepanel .words a:hover::before {
  width:100%;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #bf9582;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 60px;
}
.sidepanelRight .closebtn {
  position: absolute;
  top: 65px;
  right: 90%;
  font-size: 36px;
  margin-left: 60px;
}
/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  margin-top: 3px;
  background-color: #fffef0;
  color: #6e5448;
  padding: 18px 30px;
  border: none;
}
.closebtn {
  font-size: 10px;
  cursor: pointer;
  margin-top: 3px;
  background-color: #fae6b2;
  color: #6e5448;
  border: none;
}

.openbtn:hover {
  color: #bf9582;
} 

.navbar ul {
  float: right;
  margin-right: 0px;
  padding: 0;
  margin-left: -90px;
  list-style: none;
  text-align: center;
}
.navbar li {
  position: sticky;;
  margin-left: 70px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
}
 .column {
  display: block;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 50px;;
  float: right;
  width: 30%;
}
.Imagepos {
  display: block;
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 5px;;
  float: left;
  width: 10%;
}
.Abouttxt {
  color: #806559;
  display: block;
  margin-left: 550px;
  margin-top: 50px;
  margin-right: 50px;
}
.Abouttxt3 {
  color: #806559;
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px;
}
.Abouttxt1 {
  color: #806559;
  display: block;
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 50px;
}
.column2 {
  display: block;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 50px;;
  float: right;
  width: 10%;
}
.column1-1 {
  display: block;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 50px;
  width: 20%;
}
.column2-1 {
  display: block;
  margin-left: 350px;
  margin-right: 0px;
  margin-top: 50px;
  width: 10%;
}
.container-lg {
  margin-left: 300px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}